.creation-container {
  height: 100vh;
  background: linear-gradient(135deg, #95c8f5, #3c46d6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.creation-card {
 background: #accbf0;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.creation-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.input-group {
  text-align: left;
  margin-bottom: 12px;
}

.input-group label {
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.creation-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #0776d8, #76b4ee);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.footer-text {
  margin-top: 15px;
  font-size: 14px;
}

.footer-text span {
 color: #3400f1;
  cursor: pointer;
  font-weight: 500;
}
